.back-design {
  clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
  background-color: #3b466a;
}

#shop-ab-img{
  width: auto;
  height: 100%;
  left: -4rem;
  bottom: -2rem;
}


@media screen and (max-width: 425px) {

  #text-content {
    background-color: #3b466a;
  }

  .back-design {
    display: none
  }

  button svg {
    fill: #fff;
  }

  #shop-ab-img{
  width: auto;

    height: 100%;
    left: -4rem;
    bottom: -2rem;
  }

}

@media(min-width: 426px) and (max-width: 992px) { 

  #spacer{
    display: none;
  }
  
  #text-content {
    background-color: #3b466a;
  }


  .back-design {
    display: none
  }

  button svg {
    fill: #fff;
  }

  #shop-ab-img{
    height: 100%;
    left: -2rem;
    bottom: -1rem;
  }

  .img-group{

    width: 80%;
  }

}