<div class="root-container">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content">
      <div class="col-1"></div>
      <div
        class="col-3 d-flex flex-column align-items-start justify-content-evenly py-5"
        id="text-content"
      >
        <h1>
          <span id="first-word">Our</span> <br />
          Painting Shop
        </h1>

        <p class="text-start">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,It is a long established fact a more-or-less normal
          distribution of letters,
        </p>

        <button class="btn">read more</button>
      </div>
      <div class="col-2"></div>
      <div class="col-6"></div>
    </div>
    <div class="back-design"></div>
  </div>
</div>
