<div class="root-container">
  <div class="container-fluid h-100 px-0">
    <div class="row h-100 justify-content flex-column flex-md-row">
      <div class="col-1"></div>
      <div
      class="col-12 col-md-3 d-flex flex-column align-items-start justify-content-evenly py-5"
        id="text-content"
      >
        <h1>
          <span id="first-word">What</span> <br />
          Says Customer
        </h1>

        <p class="text-start">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less
        </p>

        <button class="btn">read more</button>
      </div>
      <div class="col-0 col-md-4"></div>
      <div class="col-12 col-md-4  d-flex flex-column justify-content-end  justify-content-md-center align-items-center py-5 px-2">
        <swiper
        [cssMode]="true"
        [navigation]="false"
        [mousewheel]="true"
        [keyboard]="true"
        [loop]="true"
        class="mySwiper"
      >
        <ng-template swiperSlide *ngFor="let n of numSequence(6)">
          <div class="slide-container">
            <div class="card-container">
              <div class="card card-1 ">
                <div class="pro-img">
                    <img src="https://source.unsplash.com/random/people" alt="">
                </div>
                <p class="head-text">
                    Lorem ipsum
                </p>
                <p >
                  It is a long established fact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is that it has a more-or-less
                </p>
              </div>  
              
              <div class="card card-2 ">
                <div class="pro-img">
                  <img src="https://source.unsplash.com/random/people" alt="">
                </div>
                <p class="head-text">
                    Lorem ipsum
                </p>
                <p >
                  It is a long established fact that a reader will be distracted by the
                  readable content of a page when looking at its layout. The point of using
                  Lorem Ipsum is that it has a more-or-less
                </p>
              </div>
              
            </div>
          </div>
        </ng-template>
      </swiper>
      <div class="btn-grp mt-4">
        <button (click)="swipePrev()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <path d="M0 0h24v24H0V0z" fill="none" opacity=".87" />
            <path
              d="M17.51 3.87L15.73 2.1 5.84 12l9.9 9.9 1.77-1.77L9.38 12l8.13-8.13z"
            />
          </svg>
        </button>
        <button (click)="swipeNext()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            enable-background="new 0 0 24 24"
            height="24px"
            viewBox="0 0 24 24"
            width="24px"
            fill="#000000"
          >
            <g><path d="M0,0h24v24H0V0z" fill="none" /></g>
            <g>
              <polygon
                points="6.23,20.23 8,22 18,12 8,2 6.23,3.77 14.46,12"
              />
            </g>
          </svg>
        </button>
      </div>
      </div>
    </div>
    <div class="back-design"></div>
  </div>
</div>
