.navbar-brand{
    font-size: 60px;
    text-transform: capitalize;
    font-style: italic;
    font-weight: 500;
    color: var(--accent);
}

.nav-item{
    margin : 0 1em;
}

.nav-item a{
    color: var(--accent);
    cursor: pointer;
}

.active{
    color: #37139a !important;
    
}
