<nav class="navbar navbar-light navbar-expand-lg">
  <div class="container-fluid px-4">
    <a class="navbar-brand" href="#">logo</a>
    <button
      class="navbar-toggler bg-light"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">logo</h5>
        <button
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav text-uppercase">
          <li class="nav-item" *ngFor="let nav of navs">
            <a
              class="nav-link"
              [routerLink]="nav.link"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              style="cursor: pointer"
              >{{ nav.name }}</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<!-- jus for git -->
