.main-text {
  font-size: 110px;
  font-weight: 500;
  font-style: italic;
  line-height: 1em;
}

.root-container {
  position: relative;
}


.back-design {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: var(--white);
  clip-path: polygon(0 0, 70% 0, 30% 100%, 0% 100%);
}

.play {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  box-shadow: 0 0 0 1em var(--accent);
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-icon {
  width: 0;
  height: 0;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;

  border-left: 2rem solid rgb(255, 255, 255);
}

.back-image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -2;
}

.btn-grp {
  display: flex;
  flex-direction: column;
}

button {
  width: 4rem;
  height: 4rem;
  border: solid var(--primary);
  border-radius: 50%;
  margin-bottom: 1em;
  background-color: transparent;
}

button svg {
  fill: var(--primary);
}

button:hover {
  border: solid var(--accent);
}

button:hover svg {
  fill: var(--accent);
}

.mySwiper {
  height: 100%;
}

.slide-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slide-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#video {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  margin: 0 auto;
}


@media screen and (max-width: 375px) {
  .root-container {
    height: 90vh;
  }

  .main-text {
    margin-top: 2em;
    font-size: 60px;
    color: white;

  }

  .play {

    top: 25%;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    box-shadow: 0 0 0 0.5em var(--accent);

  }

  .play-icon {
    width: 0;
    height: 0;
    border-top: 0.8rem solid transparent;
    border-bottom: 0.8rem solid transparent;

    border-left: 1.5rem solid rgb(255, 255, 255);
  }

  .back-design {
    display: none
  }

  button {
    border: solid #fff;

  }

  button svg {
    fill: #fff;
  }

  .back-image {
    filter: brightness(0.5);
  }

}