<!-- <div class="root-container">
  <div class="container-fluid h-100 ">
    <div class="row h-100 justify-content flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 col-lg-6 d-flex justify-content-center align-items-center py-4 py-md-0">
        <img class="img-fluid" src="../../../assets/imgs/bird-4449891_1920.png" alt="">
      </div>
      <div class="col-0 col-md-2" id="spacer"></div>
      <div
        class="col-12 col-md-6 col-lg-3  d-flex flex-column align-items-end justify-content-evenly py-5 px-md-5"
        id="text-content"
      >
        <h1>
          <span id="first-word">About</span> <br/>
          dream Pentart
        </h1>
        <p class="sub-head">Established fact that a reader</p>

        <p class="text-end  col-xl-8">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,It is a long established fact a more-or-less normal
          distribution of letters,
        </p>

        <button class="btn">read more</button>
      </div>
    </div>
    <div class="back-design"></div>
  </div>
</div> -->





 <div class="root-container">
  <div class="container-lg h-100 position-relative">
    <div class="row h-100 justify-content flex-column-reverse flex-lg-row">
      <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center py-4" >
        <img class="img-fluid" src="../../../assets/imgs/bird-4449891_1920.png" alt="">
      </div>
      <div
        class="col-12 col-lg-6 d-flex flex-column align-items-end justify-content-evenly py-5"
        id="text-content"
      >
        <h1>
          <span id="first-word">About</span> <br/>
          dream Pentart
        </h1>
        <p class="sub-head">Established fact that a reader</p>

        <p class="text-end col-sm-6">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,It is a long established fact a more-or-less normal
          distribution of letters,
        </p>

        <button class="btn">read more</button>
      </div>
    </div>
  </div>
  <div class="back-design"></div>
</div>
