.back-design {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%);
    background-color: #2e3b61;
  }

input{

  height: 1rem;
}
  
input, textarea{
  border: none;
  border-radius: 0;
  border-bottom: solid 1px;
  
}

@media screen and (max-width: 425px) {

  #text-content{
    background-color: #2e3b61;
  }

  .back-design {
    display: none
  }
}

@media(min-width: 426px) and (max-width: 992px) { 

  #spacer{
    display: none;
  }
  
  #text-content{
    background-color: #2e3b61;
  }

  .back-design {
    display: none
  }

  button svg {
    fill: #fff;
  }

}