.back-design {
    clip-path: polygon(30% 0, 100% 0, 100% 100%, 70% 100%);
    background-color: #2e3b61;
  }

input{

  height: 1rem;
}
  
input, textarea{
  border: none;
  border-radius: 0;
  border-bottom: solid 1px;
  
}

@media screen and (max-width: 375px) {

  #text-content{
    background-color: #2e3b61;
  }

  .back-design {
    display: none
  }
}