<div class="root-container">
  <div class="container-fluid h-100">
    <div class="row h-100 justify-content flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center py-5">
        <img class="img-fluid" src="../../../assets/imgs/brush-3068340_1920.png" alt="">
      </div>
      <div class="col-0 col-md-2"></div>
      <div
      class="col-12 col-md-3 d-flex flex-column align-items-end justify-content-evenly py-5"
        id="text-content"
      >
        <h1>
          <span id="first-word">Our</span> <br />
          Stylis Brush
        </h1>

        <p class="text-end col-md-12">
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout. The point of
          using Lorem Ipsum is that it has a more-or-less normal distribution of
          letters,It is a long established fact a more-or-less normal
          distribution of letters,
        </p>

        <button class="btn">read more</button>
      </div>
    </div>
    <div class="back-design"></div>
  </div>
</div>
